.input {
    color: var(--black);
    border: none;
    outline: none;
    border-radius: 4px;
}

.input::placeholder {
    opacity: 0.4;
}

.bgColor {
    background-color: var(--secondary);
    font-size: 1.2rem;
    line-height: 1.8rem;

    &::placeholder {
        opacity: 0.8;
    }
}

.outline {
    border: 2px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
}
