:root {
    --primary: #ffffff;
    --primary-1: #363738;
    --secondary: #f5f5f5;
    --secondary-1: #fefaf1;
    --secondary-2: #db4444;
    --text-color: #fafafa;
    --text-color-1: #7d8184;
    --black: #000000;
    --button-color: #00ff66;
    --button-color-2: #db4444;
    --button-hover: #e07575;
    --button-hover-1: #a0bce0;
}
