.container-width {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

button {
    background-color: transparent;
    border: none;
}
